node_modules/
kubernetes.yaml
bin/
obj/
.next/

# Dapr
**/components/redis.yaml
**/components/redis_messagebus.yaml
**/components/pubsub.yaml
**/components/statestore.yaml
**/components/messagebus.yaml